<body class="landingpage">
<h4 class="text-center">Inventori Kesiapan Kerja Peserta Didik Menengah Kejuruan Jurusan Teknik Kendaraan Ringan</h4>
<div class="text-center">
<p class="anounce">
	Untuk menjawab pertanyaan, anda diharuskan untuk login dengan akun yang telah didaftarkan. Gunakan <strong>nisn</strong> sebagai username dan <strong>123</strong> sebagai password.</p> 
	<%= link_to "Login", main_app.new_user_session_path, class: 'btn btn-info' %>
</div>
</body>