<h6>About Apps</h6>
<hr/>
<p>
	<strong>Description : </strong>
	<br/> Application for Management survey and analyse results</p>
<p>
	<strong>Version :</strong>
	<br/> 0.0.1
</p>
<p>
	<strong>Geeks :</strong>
	<br/> http://kodejs.com
</p>
