@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "flat-ui";
@import "style";


 /* custom rapidfire */
.horizontal-list {
  list-style: none;
}

.horizontal-list > li {
  float: left;
  display: inline;
  margin: 0px 5px;
}